# Last match in file takes precedence.

# Sorting by path instead of by who added it one day :(
# this isn't how codeowners rules work pls read the first comment instead of trying to force a sorting order

# funky
/Content.*/_Funkystation/ @trixxedheart

# starfall
/Content.*/_Starfall/ @trixxedheart

# maps
/Resources/Maps/ @trixxedheart

# audio
/Resources/Audio/ @trixxedheart

# textures
/Resources/Textures/ @Thlrds

# rules
/Resources/ServerInfo/ @trixxedheart

# github
/.github/ @trixxedheart
